.add-boba-shop-input-field {
  /* display: flex;
  justify-content: center;
  width: 97%;
  height: 30px;
  background-color: white;
  border: 1px solid #ccc;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 8px; */
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  /* margin: 0 0 15px; */
  padding: 15px;
  padding-right: 188px;
  box-sizing: border-box;
  font-size: 14px;
}

.add-a-boba-shop-title {
  display: flex;
  color: #836ab8;
  font-weight: bold;
  font-size: 50px;
  margin: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.add-boba-shop-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-a-boba-shop-div {
  border: 1px solid #ccc;
  margin-right: 15%;
  margin-top: 180px;
  padding: 60px;
}

.add-boba-div {
  display: flex;
  justify-content: center;
}

.confirm-delete {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.add-boba-shop-label {
  color: #a08dc8;
}

.post-new-boba-shop-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 12px 27px;
  font-size: 16px;
  font-weight: 550;
  color: #fff;
  margin-top: 15px;
  background: #836ab8;
  border: 1px solid #836ab8;
  border-radius: 3px;
  transition: all 0.6s;
  transition-property: background-color, background-position, background-size, border-color;
  background-position: 50% 50%;
  background-size: 15000px 15000px;
  width: 100%;
  box-sizing: border-box;
}

.submit-button-confirm {
  display: flex;
  justify-content: center;

}

.submit-button-confirm-delete {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px 13px;
  font-size: 16px;
  font-weight: 550;
  color: #fff;
  background: #d32323;
  border: 1px solid #d32323;
  border-radius: 3px;
  transition: all 0.6s;
  transition-property: background-color, background-position, background-size, border-color;
  background-position: 50% 50%;
  background-size: 15000px 15000px;
  box-sizing: border-box;
  margin-top: 30px;
}

.errors-div {
  margin-top: 450px;
  margin-right: 350px;
}

.form-reqs {
  font-size: 30px;
  margin-bottom: 30px;
  color: #836ab8;
  display: flex;
  justify-content: center;
}

.add-boba-shop-errors {
  display: flex;
  justify-content: center;
  color: #b4a5d2;
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.boba-animation {
  margin-top: 14%;
}

#bubbletea {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  width: 400px;
}

#cheeks {
  -webkit-animation: blush 4s infinite;
  animation: blush 4s infinite;
}

@-webkit-keyframes blush {
  50% {
    stroke: #b7094c;
  }
}

@keyframes blush {
  50% {
    stroke: #b7094c;
  }
}

#boba-two {
  -webkit-animation: jiggle 5s infinite;
  animation: jiggle 5s infinite;
}

#boba-three {
  -webkit-animation: jiggle 3s infinite;
  animation: jiggle 3s infinite;
}

#boba-four {
  -webkit-animation: jiggle 4s infinite;
  animation: jiggle 4s infinite;
}

#boba-five {
  -webkit-animation: jiggle 2s infinite;
  animation: jiggle 2s infinite;
}

#boba-six {
  -webkit-animation: jiggle 6s infinite;
  animation: jiggle 6s infinite;
}

@-webkit-keyframes jiggle {
  25% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  50% {
    -webkit-transform: translateY(6px) scale(0.98);
    transform: translateY(6px) scale(0.98);
  }

  100% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}

@keyframes jiggle {
  25% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  50% {
    -webkit-transform: translateY(6px) scale(0.98);
    transform: translateY(6px) scale(0.98);
  }

  100% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}
