.navbar {
  background-color: #d32323;
  display: flex;
  justify-content: center;
}

.each-nav-element {
  margin-top: 20px;
  margin-bottom: 20px;
}

.each-nav-element > a {
  margin: 10px;
  text-decoration: none;
  color: white;
}
