.navbar {
  background-color: #d32323;
  display: flex;
  justify-content: space-between;
}

.each-nav-element {
  margin-top: 33px;
  margin-bottom: 20px;
  font-size: 25px;
}

.each-nav-element>a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.signup {
  margin-right: 50px;
}
