.reviews-title {
  /* width: 51.5%; */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  font-size: 30px;
  margin-left: 350px;
  color: #d32323;
  /* font-size: 22px; */
  font-weight: bold;
  /* margin-bottom: 6px; */
}

.review-image {
  background-size: contain;
  background-position: inherit;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  /* margin: 10px; */
  display: flex;
  justify-content: center;
}

.ellipsis {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.ellipsis-icon {
  width: 20px;
}

.each-review {
  width: 55%;
  padding: 4em 1em 0;
  /* border-radius: 20px; */
  min-height: 9em;
  transition: box-shadow .9s ease;
  word-break: break-all;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 10px;
  margin-left: -20px;
}

.review-content {
  /* display: flex;
  justify-content: center; */
  margin-bottom: 10px;
  font-size: 25px;
}

.prof-pic {
  border-radius: 50%;
  /* border: 1px solid; */
  width: 64px;
  height: 64px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz5rERSKIXzR2z06gG4WowiKr3rnV6dl6_LERkWyVDb_LAWPWcgwa9Yj3NhpjJqag9x0o&usqp=CAU);
  background-size: contain;
}

.review-username-div {
  display: flex;
}

.username-div {
  /* margin-left: 15px; */
  margin-top: 20px;
  color: #0073bb;
  font-size: 16px;
  font-weight: bold;

}

.review-text {
  font-size: 16px;
  word-break: break-word;
}

.date-reviewed {
  /* margin-left: 10px; */
}

.review-text-and-image {
  margin-left: 450px;
}

.name-and-date {
  margin-left: 10px;
}

.edit-delete-review-buttons {
  display: flex;
  /* justify-content: center; */
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
}

.review-page-div {
  margin-bottom: 50px;
}

.review-content-username {
  float: left;
}

.edit-icon {
  width: 23px;
  margin: 5px;
}

.delete-icon {
  width: 20px;
  margin: 5px;
}
