.form-div {
  display: flex;
  justify-content: center;
}

.login-form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
  display: block;
}

.log-in-to-beateas {
  display: flex;
  color: #d32323;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
  margin-top: 200px;
  justify-content: center;
}

.new-to-besteas-signup {
  display: flex;
  justify-content: center;
}

.new-to-besteas-signup > a {
  text-decoration: none;
  color: #0073bb;
}

.sign-up-text {
  margin-left: 5px;
}

.terms-of-service {
  display: block;
  color: #333;
  font-size: 11px;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 12px;
  letter-spacing: 0.3px;
}

.demo-button-div {
  display: flex;
  justify-content: center;
}

.demo-user-button {
  display: block;
  width: 100%;
  height: 30px;
  background: #fff;
  color: #666;
  border: 1px solid #b9b8b8;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.or {
  display: flex;
  justify-content: center;
  color: #666;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.input-field {
  display: flex;
  justify-content: center;
  width: 97%;
  height: 30px;
  background-color: white;
  border: 1px solid #ccc;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 8px;
}

.submit-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px 13px;
  font-size: 16px;
  font-weight: 550;
  color: #fff;
  background: #d32323;
  border: 1px solid #d32323;
  border-radius: 3px;
  transition: all 0.6s;
  transition-property: background-color, background-position, background-size, border-color;
  background-position: 50% 50%;
  background-size: 15000px 15000px;
  width: 100%;
  box-sizing: border-box;
}
